<?xml version="1.0"?>
<launch>
    <arg name="fcu_url" default="/dev/ttyACM0:230400"/>
    <arg name="gcs_url" default="udp://@192.168.50.81"/>
    <arg name="SYS_ID" default="2"/>
    <arg name="node_start_delay" default="22"/>

    <group ns="MAV$(arg SYS_ID)">
        <param name="UAV_ID" value="$(arg SYS_ID)"/>
        
        <!-- Connect Orin to MAVROS and ground station -->
	<include file="$(find mavros)/launch/apm.launch">
		<arg name="fcu_url" value="$(arg fcu_url)"/>
        	<arg name="gcs_url" value="$(arg gcs_url)"/>
       	<arg name="tgt_system" value="$(arg SYS_ID)"/>
	</include>
	<node name="optitrack" pkg="upguided" type="optitrack" output="screen"></node>
	<node name="origin_py" pkg="upguided" type="origin.py" output="screen"></node>
	<node name="arm"       pkg="upguided" type="arm"       output="screen"></node>
    </group>

    <!-- Node to control  drone -->
    <node pkg="upguided" type="velocity.py" name="velocity_py" required="true" output="screen" />
    <node pkg="upguided" type="main_iris_beta.py" name="main_iris_py" required="true" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <!-- yolov7_ros -->
	<!-- <include file="$(find yolov7_ros)/launch/yolov7.launch">
	    </include> -->
    
</launch>

